
.Path{
	padding:15px;
	margin-bottom:30px;
	background-color:#304BA8;
	color:#fff;
	border-radius:50px;
	font-weight: bold;
}

.Path> a{
	padding:7px 20px;
	margin:0 15px;
	color:#fff;
	text-decoration: none;
	cursor: pointer;
	font-weight: normal;
}

.Path> .PathActive{
	cursor: auto;
	background-color:#F0DB4F;
	color:#222;
	border-radius:40px;
	font-weight:bold;
}

.CourseHeader > p{
	font-size:18px;
	text-align:justify;
}
.ContentPage{
	background-color:#eee;
	padding:20px;
	padding-top:140px;	
	color:#204a87;
	font-family: 'Montserrat', Tahoma, Verdana, sans-serif;
	min-height:660px;
	height:100%;
}
.ContentPage> h2{
	font-size: 28px;
	font-weight: bold;
}
.ContentPage> header{
	padding:30px;
	background-color: #fff;
	border-radius:10px;
	border:1px solid #ddd;
	min-height:200px;
	margin-bottom:20px;
}
.ContentPage> header> p{
	color:#333;
}

.Report{
	background-color: #fff;
	border:1px solid #ddd;
	font-size:16px;
	font-family: 'PT Sans', sans-serif;
	height:100%;
	margin: 0;
	display: grid;
	grid-template-columns: auto auto ;
	border-radius:10px;
	min-height:600px;
	}

.Report-nav > h2{
	color:#f7f7f7;
	font-size:28px;
}
.Report-nav{
	background: linear-gradient(270deg, rgba(2,0,36,1) 0%, rgba(39,90,167,1) 0%, rgba(23,61,119,1) 100%); 
	padding:10px;
	border-radius:10px 0 0 10px;
	border-right:2px solid #173d77;
	min-width:250px;
	max-width:300px;
}

.Report-nav > ul{
	margin:0;
	padding:0 10px;
}	
.Report-nav > ul > li {
	color:#f7f7f7	;
	padding:5px 10px;
	margin:10px 0;		
	font-size:20px;
	border-left:7px solid #F0DB4F	;
	border-radius:2px;
}
.Report-nav > ul > li:hover {
	background-color: #F0DB4F;
	cursor:pointer;
	color:#222;
	font-weight:bold;
	transition: 0.3s;
}
.Report-content{
	padding:30px;
	display:block;
}
.Report-content > p{
	font-size:20px;
	font-weight:lighter;
	color:#222;	
}
